In [6]:
import os
import pandas as pd

path = "C:\Users\hp\OneDrive\Desktop\Drexel University\Quarter 1\MIS\group assignment\employer"

files = os.listdir(path)
files

['201615-25-BE-EMPFreeResponse.xlsx',
 '20173545-B- EFR Free Response.xlsx',
 '20171525-BE-FW-EFR Free Response.xlsx',
 '20171525-B-EMPFreeResponse.xlsx',
 '20181525-B-FW-EMPFreeResponse.xlsx',
 '2014-BE-EMPFreeResponse.xlsx',
 '20163545-BE-EMPFreeResponse.xlsx',
 '20181525-BE-FW-EMPFreeResponse.xlsx',
 '20163545-B-EMPFreeResponse.xlsx',
 '2014-B-EMPFreeResponse.xlsx',
 'AY 2020-BBE-EMP Free Response.xlsx',
 '20173545-BE- EFR Free Response.xlsx',
 'AY 2019-BBE-EMPFreeResponse.xlsx',
 '201615-25-B-EMPFreeResponse.xlsx',
 '2015-BE-EMPFreeResponse.xlsx',
 '2015-B-EMPFreeResponse.xlsx']

In [7]:
df = pd.DataFrame()

In [47]:
num = 0
for f in files:
    data = pd.read_excel(F"/Users/otabekjuraev/Downloads/employer/{f}", sheet_name = 0)
    df = df.append(data,ignore_index=True)
    num = num+1
print(num)

/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)

16

/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
/var/folders/f3/7kkx3wss44154l_sc0vszfkc0000gn/T/ipykernel_13716/4182418533.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)

In [48]:
df

,Respondent ID,Terms,Class (BOT),College Code,Major Code,Conc,Co-op #,Citizenship Status,What are the student's strengths?,Major Conc
0,477,201615-201625,JR,BE,ECON,5COP,Third,Non US Citizen,I felt he was willing to do as directed.,NaN
1,710,201615-201625,SR,BE,ECON,4COP,Only,Non US Citizen,High level of intellectual curiosity. Asks ver...,NaN
2,811,201615-201625,PJ,BE,ECON,5COP,Second,US Citizen,Willing and able to learn_x000D_\nWilling to a...,NaN
3,837,201615-201625,JR,BE,ECON,5COP,Third,US Citizen,Antonio was outgoing and had a great attitude ...,NaN
4,1252,201615-201625,PJ,BE,ECON,5COP,Second,US Citizen,"Matthew is skilled at Excel, and he learned ho...",NaN
...,...,...,...,...,...,...,...,...,...,...
8743,5483,201535-201545,JR,B,FIN,5COP,First,US Citizen,Very sociable and interactive. Always willing...,NaN
8744,5484,201535-201545,JR,B,MIS,5COP,First,Resident Alien Non-Citizen,Willingness to learn from others. Follows inst...,NaN
8745,5485,201535-201545,JR,B,ACCT,5COP,First,Resident Alien Non-Citizen,Very dedicated and focused on learning and doi...,NaN
8746,5487,201535-201545,SO,B,ACCT,5COP,First,US Citizen,"Evan strengths are hardworking, friendly, reli...",NaN
8747,5491,201535-201545,JR,B,ACCT,5COP,First,US Citizen,George picks up tasks quickly and masters them.,NaN

In [10]:
data.shape

(654, 10)

In [17]:
df.isnull().sum()

Respondent ID                           0
Terms                                   0
Class (BOT)                             0
College Code                            0
Major Code                              0
Conc                                    0
Major Conc                           4351
Co-op #                                 0
Citizenship Status                      0
What are the student's strengths?      89
dtype: int64

In [20]:
df = df.drop("Major Conc", axis = 1)

In [49]:
df["Respondent ID"].value_counts()

1914    12
1015    10
2520     8
4405     8
4710     8
        ..
1619     2
1624     2
1632     2
1650     2
5485     2
Name: Respondent ID, Length: 3228, dtype: int64

In [21]:
df.isnull().sum()

Respondent ID                         0
Terms                                 0
Class (BOT)                           0
College Code                          0
Major Code                            0
Conc                                  0
Co-op #                               0
Citizenship Status                    0
What are the student's strengths?    89
dtype: int64

In [43]:
df.groupby(["What are the student's strengths?"]).get_group(Null)

NameError: name 'Null' is not defined

In [31]:
dr

,Respondent ID,Terms,Class (BOT),College Code,Major Code,Conc,Co-op #,Citizenship Status,What are the student's strengths?
2,811,201615-201625,PJ,BE,ECON,5COP,Second,US Citizen,Willing and able to learn_x000D_\nWilling to a...
3,837,201615-201625,JR,BE,ECON,5COP,Third,US Citizen,Antonio was outgoing and had a great attitude ...
4,1252,201615-201625,PJ,BE,ECON,5COP,Second,US Citizen,"Matthew is skilled at Excel, and he learned ho..."
5,1335,201615-201625,PJ,BE,ECON,5COP,Second,US Citizen,Completes projects in a timely and organized m...
6,1454,201615-201625,PJ,BE,ECON,5COP,Second,US Citizen,Blake was very data driven and familiar with d...
...,...,...,...,...,...,...,...,...,...
4367,5459,201535-201545,PJ,B,FIN,5COP,First,US Citizen,Has sales skills -- is good at engaging in con...
4368,5476,201535-201545,JR,B,GBUS,5COP,First,US Citizen,A breath of fresh air with her willingness to ...
4369,5483,201535-201545,JR,B,FIN,5COP,First,US Citizen,Very sociable and interactive. Always willing...
4372,5487,201535-201545,SO,B,ACCT,5COP,First,US Citizen,"Evan strengths are hardworking, friendly, reli..."
4373,5491,201535-201545,JR,B,ACCT,5COP,First,US Citizen,George picks up tasks quickly and masters them.